@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f6f7f5;
  font-family:Inter,sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#b6b6b6;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:transparent;
}